@tailwind base;
@tailwind components;
@tailwind utilities;

.comfortaa-<uniquifier > {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
